{% extends "base.html" %}

{% block main %}
    <div class="content mt-3 row">
        <div class="col-md-6">
            <img style="max-width: 100%" src="{{ bio.picture.url }}" alt="">
        </div>
        <div class="col-md-6">
            {{ bio.about }}
            <div class="text-center mt-3">
                <a href="{% url "admin:core_about_change" object_id='1' %}" class="btn btn-secondary">Edit Bio</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block active %}
    var id = 'bio';
{% endblock %}