{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block main %}
    <div id="landing">
        <div id="landing-text">
            <div id="landing-text-inner">
                <h1>DJ Madollar</h1>
                <h2>Madollar the Entertainer</h2>
                <a href="#" class="btn-landing" id="go_to_mix">
                    View Mixtapes
                </a>
            </div>
        </div>
        <div id="landing-image"></div>
    </div>
    <div class="content mt-3 mx-2">
        <div class="card" id="mixtapes">
            <div class="card-header">
                <h4 class="text-center">Mix tapes</h4>
            </div>
            <div class="card-body">
                {% for audio in mixes %}
                    <div class="col-md-3 col-sm-12">
                        <div class="card">
                            {% if audio.poster %}
                                {% thumbnail audio.poster "270x270" as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            {% else %}
                                <img src="/media/cache/0d/1f/0d1f9692f2fc1e31d744cdf09976c212.jpg" alt="">
                            {% endif %}
                            <p><a href="{{ audio.get_absolute_url }}">{{ audio.title }}</a></p>
                            <p><a href="{{ audio.file.url }}" class="btn btn-primary">Download</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="card" id="events">
            <div class="card-header">
                <h4 class="text-center">Events</h4>
            </div>
            <div class="card-body">
                {% for event in events %}
                    <div class="col-md-3 col-sm-12">
                        <div class="card">
                            {% if event.poster %}
                                {% thumbnail event.poster "270x270" as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            {% else %}
                                <img src="/media/cache/e2/00/e2009cd3d4f6ae965e1a5184700eb06a.jpg" alt="">
                            {% endif %}
                            <p><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></p>
                            <p><i class="fa fa-map-marker"></i> {{ event.venue }}</p>
                            <p><i class="fa fa-calendar"></i> {{ event.start.date }} {{ event.start.time }} to {{ event.end.time }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}